.PhoneInput {
    width: 100% !important;
}
.PhoneInputInput{
    border: 1px solid #dee2e6;
    box-shadow: none;
    border-radius: 0.3rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    &:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    }
}
