.img-th
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
   
}
th{
    white-space: nowrap;
    
}
td{
    height: 6rem !important;
}

.empty {
    width: 50%;
}

@media (min-width:200px) and (max-width:900px) {
    .empty {
        width: 100% !important;
    }

    
}